body {
    background-image: url('abstract-blue.jpg');
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    height: 100vh;
}







